::-webkit-scrollbar {
    display: none;
}

body {
    width: 100vw;
    height: 100%;
    margin: 0;
}

.aivle-title {
    color: white;
    font-size: 52px;
    position: absolute;
    top: 15%;
    left: 25%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.aivle-sub-title {
    color: white;
    font-size: 52px;
    position: absolute;
    top: 25%;
    left: 40%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 600px) {
    .aivle-title,
    .aivle-sub-title {
        font-size: 24px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .aivle-title,
    .aivle-sub-title {
        font-size: 32px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (min-width: 1025px) {
    .aivle-title,
    .aivle-sub-title {
        font-size: 52px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.top-container {
    z-index:999;
    width: 100vw;
    height: 72px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-container ul {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none; /* 불릿 스타일 제거 */
}

.top-container ul li {
    margin-right: 20px;
    color: white;
}

.top-container ul li a{
    color: white;
}

.top-container ul li:hover {
    cursor: pointer;
}

.top-container h1 a {
    color: white;
}

.top-container h1 {
    margin: 0;
}

a {
    text-decoration: none; /* 밑줄 제거 */
}

a:visited {
    text-decoration: none; /* 방문한 링크의 밑줄 제거 */
}

/* 활성 링크 스타일 설정 */
a:active {
    text-decoration: none; /* 활성 링크의 밑줄 제거 */
}

main {
    padding: 0;
    width: 100vw;
    margin-top: 72px;
    height: calc(100% - 72px);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.aivle-top {
    width: 100%;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.aivle-top a{
    color: white;
}

.aivle-top img {
    height: 28px;
    margin-right: 10px;
}

.aivle-top img:hover {
    cursor: pointer;
}

footer {
    width: 100vw;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    /*background-color: var(--primary-color);*/
}

main section {
    color: white;
    width: 90%;
    height: auto;
    border-radius: 10px;
    background: var(--primary-color);
    padding: 15px;
    margin: 10px;
}

#chat-select {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

section ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2개의 열로 나누기 */
    gap: 15px; /* 아이템 사이의 간격 */
    justify-items: center;
    list-style-type: none; /* 불릿 스타일 제거 */
    padding: 0; /* 기본 패딩 제거 */
    /* 기본 마진 제거 */
    margin: 15px 0 0 0 ;
}

.aivle-link-tree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aivle-link-tree li {
    height: 50px;
}

section ul li {
    width: 90%;
    height: 100px;
    border-radius: 15px;
    padding: 10px;
    background: white;
    position: relative; /* 자식 요소의 절대 위치를 위한 상대 위치 설정 */
}

section ul li:hover {
    cursor: pointer;
    background-color: rgba(65, 64, 66, 0.5); /* 투명한 그레이 배경색 */
}


section ul li a {
    display: flex; /* 플렉스 박스 사용 */
    align-items: center; /* 수직 중앙 정렬 */
    /*justify-content: center; !* 수평 중앙 정렬 *!*/
    /*width: 100%;*/
    height: 100%;
    font-size: 16px;
    font-weight: bold;

    overflow-wrap: inherit;
    padding: 10px; /* 내포된 텍스트를 위한 패딩 추가 */
    box-sizing: border-box; /* 패딩을 포함한 크기 설정 */
    border-radius: 15px; /* 모서리 둥글게 설정 */
}

section ul li a:hover {
    color: white;
}

#django {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

h2, p, ol {
    margin: 0;
}

.naver {
    background: var(--naver-secondary-color);
}

.naver a {
    color: white;
}

.naver:hover {
    background: var(--naver-color);
    /*background: rgb(5, 214, 134, 0.8);*/
}

.naver a:hover {
    color: white;
}

.insta {
    background: var(--insta-color);
}

.insta a {
    color: var(--insta-yellow-color);
}

.insta:hover {
    background: var(--insta-yellow-color);
}

.insta a:hover {
    color: var(--insta-color)
}

/* pop up css */
.popup {
    background: white;
    position: fixed;
    top: 10%;
    left: 10%;
    z-index: 1001;
    font-size: 20px;
    width: 540px;
    height: 620px;
}

.inner {
    position: relative;
    background: white;
    padding: 45px 0px;
    width: 100%;
    height: 530px;
    border-radius: 5px;
    border: 1px solid #333;
    box-shadow: 10px 5px 13px 0 rgb(0,0,0,54%);
    text-align: center;
}

.notice-image {
    width: 540px;
    height: 530px;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
}

.inner span {
    z-index: 1002;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
}

/* action */
.action-container {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 100px;
    height: 320px;
}

.action-container a img {
    z-index: 1000;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    box-shadow: 10px 5px 13px 0 rgb(0,0,0,54%);
    object-fit: cover;
}

.action-container a img:hover {
    cursor: pointer;
}

.main-image {
    width: 100%;
}

.chat-select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chat-select-container h3 {
    font-size: 32px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
}

.chat-select-container h3 a{
    color: white;
    text-decoration: none; /* 밑줄 제거 */

}


.faq a {
    width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faq a img {
    height: 200px;
    width: 200px;
    border-radius: 50px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.faq a img:hover {
    border: var(--primary-color) 1px solid;
}

.faq a h3 {
    color: white;
    font-size: 24px;
}

.faq img {
    z-index: 900;
    height: 200px;
}

.faq {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.faq-list {
    width: 70%;
    list-style-type: none; /* 불릿 스타일 제거 */
    display: grid;
    align-content: stretch;
    align-items: start;
    justify-items: center;
}

.faq-list li {
    padding-left: 20px;
    z-index: 901;
    height: auto;
    color: #333;
}

.faq-list li a{
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
    font-size: 16px;
    color: #333;
}

.faq-list li:hover{
    color: white;
}