:root {
    --primary-color: #38b8b2;
    --secondary-color: #2ecc71;
    --naver-color: #03c75a;
    --naver-secondary-color: #05D686;
    --insta-color: #515BD4;
    --insta-secondary-color: #8134AF;
    --insta-third-color: #DD2A7B;
    --insta-yellow-color: #FEDA77;
    --font-size: 16px;
    --padding: 10px;
}